.nav-bar {
    display: flex;
    justify-content: space-around;
    .nav-item {
        position: relative;
        a {
            color: map-get($font-color, "green");
        }
        &::after {
            content: "";
            display: block;
            background-color: map-get($map: $font-color, $key: "green");
            height: 5px;
            position: absolute;
            width: 0%;
            bottom: -5px;
            left: 0;
            border-radius: 10px;
            transition: all 0.5s;
        }
        &:hover::after {
            width: 100%;
        }

        &.active {
            a {
                color: map-get($map: $font-color, $key: "blue");
            }
            &::after {
                width: 100%;
            }
        }
    }
}
